@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

html, body {
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: black; 
}


.offset:before{
    display: block;
    content: "";
    height: 4rem;
    margin-top: -4rem;
}

/*------------ Navegação ----------*/

.navbar{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .1rem;
    background: rgba(216, 197, 0, 0.8)!important;
}

.navbar-brand img{
    height: 4rem;
}

.navbar-nav li{
    padding-right: .9rem;

}

.navbar-dark .navbar-nav .nav-link{
    color:white;
    padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color:rgb(0,78,146);
}

.custom-toggler.navbar-toggler {
    border-color:rgb(0,78,146);
    border-width: .2rem;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,78,146, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*----- Página Inicial -----*/

.landing {
    position: relative;
    width: 100%;
    height: 100vh;
    display: table;
    z-index: -1;
  }

  .home-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .home-inner {
    position: fixed;
    display: table;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change: transform;
    background-image: url(img/background.png);
}

.caption{
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 20%;
    z-index: 1;
    color: white;
    text-transform: uppercase;
}

.caption h1{
    font-size: 3.8rem;
    font-weight: 700;
    text-shadow: .1rem .1rem .8rem black;
}

.caption h3{
    font-size: 2rem;
    font-weight: 700;
    text-shadow: .1rem .1rem .8rem black;
}

.btn-lg {
    border-width: medium;
    padding: .6rem 1.3rem;
    font-size: 1.1rem;
}
@media only screen and (max-width: 400px){
  .caption h1{
    font-size: 3rem;
    font-weight: 700;
    text-shadow: .1rem .1rem .8rem black;
}

.caption h3{
    font-size: 1.2rem;
    font-weight: 700;
    text-shadow: .1rem .1rem .8rem black;
}
}

/*------ Sobre nós ------*/


.jumbotron{
    margin-bottom: 0;
    padding: 25rem 6rem 25rem;
    border-radius: 0;
}

h2.heading{
    font-size: 1.9rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.9rem;
}

.heading-underline{
    width: 4rem;
    height: .2rem;
    background-color: rgb(0,78,146);
    margin: 0 auto 2rem;
}

.feature i.fas.fa-users.fa-3x{
    color: rgb(0,78,146);
}

.feature i.fas.fa-object-group.fa-3x{
    color: rgb(0,78,146);
}

.feature i.fas.fa-repeat.fa-3x{
    color:rgb(0,78,146);
}

.feature i.fas.fa-handshake-o.fa-3x{
    color: rgb(0,78,146);
}

.feature i.fas.fa-clipboard-list.fa-3x{
  color: rgb(0,78,146);
}

@media only screen and (min-width: 1400px){
  .feature i.fas.fa-handshake-o.fa-3x{
    padding-top: 5rem;
  }
}

@media screen and (max-width: 1400px) and (min-width:750px){
  .feature i.fas.fa-handshake-o.fa-3x{
    padding-top: 5rem;
  }
}

.feature h3{
    font-size: 1.3rem;
    text-transform: uppercase;
    padding-bottom: .4rem;;
}

.feature p{
    font-size: 1.1rem;
}


/*----------- EQUIPA ------*/

.segundobackground {
    position: relative;
    width: 100%;
  }

  .fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999!important;
  }

  .fixed {
    background-image: url(img/segundaimagemestatica.png);
    z-index: -1;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change: transform;
  }


.dark{
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    margin-bottom: 0;
    padding: 25rem 6rem 25rem;
    border-radius: 0;
}



/*------Flip cars------*/
@media screen and (min-width: 1400px) {
  .card{
    margin:0 auto;
    cursor: pointer;
    width: 21.25rem;
    height: 30rem;
    background-color: rgba(0,0,0, 0);
  }
  .front,.back1,.back2,.back3,.back4,.back5{
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .2s linear;
  }
  .front img{
    height: 100%;
  }
  .front{
    transform: perspective(37.5rem) rotateY(0deg);
  }
  .back1{
    background-image: url(img/flipcards/bitmojipeter.png);
    background-size: 21.25rem 30rem;
    transform: perspective(37.5rem) rotateY(180deg);
  }
  .back2{
    background-image: url(img/flipcards/bitmojinelson.png);
    background-size: 21.25rem 30rem;
    transform: perspective(37.5rem) rotateY(180deg);
  }
  .back3{
    background-image: url(img/flipcards/bitmojiduarte.png);
    background-size: 21.25rem 30rem;
    transform: perspective(37.5rem) rotateY(180deg);
  }
  .back4{
    background-image: url(img/flipcards/bitmojicristo.png);
    background-size: 21.25rem 30rem;
    transform: perspective(37.5rem) rotateY(180deg);
  }
  .back5{
    background-image: url(img/flipcards/bitmojiluis.png);
    background-size: 21.25rem 30rem;
    transform: perspective(37.5rem) rotateY(180deg);
  }
  .back-content{
    color:white;
    text-align: center;
    padding-top: 20rem; 
    width: 100%;
  }
  h2.back-content1{
    text-transform: uppercase;

  }
  h4.back-content1{
    text-transform: uppercase;
    font-weight: 700;
  }
  h3.back-content1{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
  }
 
  .sm{
    margin: 1rem 0;
  }
  .sm a{
    display: inline-flex;
    width: 2.5rem;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.125rem;
    transition: 0.4s;
    border-radius: 50%
  }
  .sm a:hover{
    background:#d8c500;
    color: white;
  }
  .card:hover > .front{
    transform: perspective(37.5rem) rotateY(-180deg);
  }
  .card:hover > .back1{
    transform: perspective(37.5rem) rotateY(0deg);
  }
  .card:hover > .back2{
    transform: perspective(37.5rem) rotateY(0deg);
  }
  .card:hover > .back3{
    transform: perspective(37.5rem) rotateY(0deg);
  }
  .card:hover > .back4{
    transform: perspective(37.5rem) rotateY(0deg);
  }
  .card:hover > .back5{
    transform: perspective(37.5rem) rotateY(0deg);
  }
}
@media screen and (max-width: 900px) {
  .card{
    margin:0 auto;
    cursor: pointer;
    width: 8.625rem;
    height: 13rem;
    background-color: rgba(0,0,0, 0);
  }
  .front,.back1,.back2,.back3,.back4,.back5{
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .2s linear;
  }
  .front img{
    height: 100%;
  }
  .front{
    transform: perspective(37.5rem) rotateY(0deg);
  }
  .back1{
    background-image: url(img/flipcards/bitmojipeter.png);
    background-size: 8.625rem 13rem;
    transform: perspective(37.5rem) rotateY(180deg);
  }
  .back2{
    background-image: url(img/flipcards/bitmojinelson.png);
    background-size: 8.625rem 13rem;
    transform: perspective(37.5rem) rotateY(180deg);
  }
  .back3{
    background-image: url(img/flipcards/bitmojiduarte.png);
    background-size: 8.625rem 13rem;
    transform: perspective(37.5rem) rotateY(180deg);
  }
  .back4{
    background-image: url(img/flipcards/bitmojicristo.png);
    background-size: 8.625rem 13rem;
    transform: perspective(37.5rem) rotateY(180deg);
  }
  .back5{
    background-image: url(img/flipcards/bitmojiluis.png);
    background-size: 8.625rem 13rem;
    transform: perspective(37.5rem) rotateY(180deg);
  }
  .back-content{
    color:white;
    text-align: center;
    padding-top: 8rem; 
    width: 100%;
  }
  h2.back-content1{
    font-size: .7rem;
    text-transform: uppercase;

  }
  h4.back-content1{
    font-size: .5rem;
    text-transform: uppercase;
    font-weight: 700;
  }
  h3.back-content1{
    font-size: .5rem;
    text-transform: uppercase;
    font-weight: 700;
  }
  .sm{
    margin: .5rem 0;
  }
  .sm a{
    display: inline-flex;
    width: 1rem;
    height: 1rem;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.7rem;
    transition: 0.4s;
    border-radius: 50%
  }
  .sm a:hover{
    background:#d8c500;
    color: white;
  }
  .card:hover > .front{
    transform: perspective(37.5rem) rotateY(-180deg);
  }
  .card:hover > .back1{
    transform: perspective(37.5rem) rotateY(0deg);
  }
  .card:hover > .back2{
    transform: perspective(37.5rem) rotateY(0deg);
  }
  .card:hover > .back3{
    transform: perspective(37.5rem) rotateY(0deg);
  }
  .card:hover > .back4{
    transform: perspective(37.5rem) rotateY(0deg);
  }
  .card:hover > .back5{
    transform: perspective(37.5rem) rotateY(0deg);
  }
}
@media screen and (max-width: 1400px) and (min-width:900px){
  .card{
    margin:0 auto;
    cursor: pointer;
    width: 12.625rem;
    height: 17rem;
    background-color: rgba(0,0,0, 0);
  }
  .front,.back1,.back2,.back3,.back4,.back5{
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .2s linear;
  }
  .front img{
    height: 100%;
  }
  .front{
    transform: perspective(37.5rem) rotateY(0deg);
  }
  .back1{
    background-image: url(img/flipcards/bitmojipeter.png);
    background-size: 12.625rem 17rem;
    transform: perspective(37.5rem) rotateY(180deg);
  }
  .back2{
    background-image: url(img/flipcards/bitmojinelson.png);
    background-size: 12.625rem 17rem;
    transform: perspective(37.5rem) rotateY(180deg);
  }
  .back3{
    background-image: url(img/flipcards/bitmojiduarte.png);
    background-size: 12.625rem 17rem;
    transform: perspective(37.5rem) rotateY(180deg);
  }
  .back4{
    background-image: url(img/flipcards/bitmojicristo.png);
    background-size: 12.625rem 17rem;
    transform: perspective(37.5rem) rotateY(180deg);
  }
  .back5{
    background-image: url(img/flipcards/bitmojiluis.png);
    background-size: 12.625rem 17rem;
    transform: perspective(37.5rem) rotateY(180deg);
  }
  .back-content{
    color:white;
    text-align: center;
    padding-top: 10.5rem; 
    width: 100%;
  }
  h2.back-content1{
    font-size: 1rem;
    text-transform: uppercase;

  }
  h4.back-content1{
    font-size: .7rem;
    text-transform: uppercase;
    font-weight: 700;
  }
  h3.back-content1{
    font-size: .5rem;
    text-transform: uppercase;
    font-weight: 700;
  }
  .sm{
    margin: 1rem 0;
  }
  .sm a{
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem;
    transition: 0.4s;
    border-radius: 50%
  }
  .sm a:hover{
    background:#d8c500;
    color: white;
  }
  .card:hover > .front{
    transform: perspective(37.5rem) rotateY(-180deg);
  }
  .card:hover > .back1{
    transform: perspective(37.5rem) rotateY(0deg);
  }
  .card:hover > .back2{
    transform: perspective(37.5rem) rotateY(0deg);
  }
  .card:hover > .back3{
    transform: perspective(37.5rem) rotateY(0deg);
  }
  .card:hover > .back4{
    transform: perspective(37.5rem) rotateY(0deg);
  }
  .card:hover > .back5{
    transform: perspective(37.5rem) rotateY(0deg);
  }
}

/*-----------------Processo------------*/

.feature i.fas.fa-sitemap.fa-3x{
  color:rgb(0,78,146);
}
.feature i.fas.fa-tasks.fa-3x{
  color:rgb(0,78,146);
}

/* Trigger do Modal */
#myImg {
  border-radius: 0.3125rem;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* Modal (background) */
.modal {
  display: none; 
  position: fixed;
  z-index: 1; /* Sit on top */
  padding-top: 25rem; 
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Imagem */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 600rem;
}

/* Legenda */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 43.75rem;
  text-align: center;
  color: #ccc;
  padding: 0.625rem 0;
  height: 9.375rem;
}

/* Zoom no Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* Close Button */
.close {
  position: absolute;
  top: 20rem;
  right: 1rem;
  color: #f1f1f1;
  font-size: 2.5rem;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.informative{
  padding-top: 0.5rem;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

/* Trigger do Modal */
#myImg2 {
  padding-top: 2rem;
  border-radius: 0.3125rem;
  cursor: pointer;
  transition: 0.3s;
}

#myImg2:hover {opacity: 0.7;}

/* Modal (background) */
.modal2 {
  display: none; 
  position: fixed;
  z-index: 1; /* Sit on top */
  padding-top: 25rem; 
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Imagem */
.modal-content2 {
  margin: auto;
  display: block;
  width: 80%;
  height: 40rem;
  max-width: 600rem;
}

/* Legenda */
#caption2 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 43.75rem;
  text-align: center;
  color: #ccc;
  padding: 0.625rem 0;
  height: 9.375rem;
}

/* Zoom no Modal */
.modal-content2, #caption2 {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* Close Button */
.close2 {
  position: absolute;
  top: 20rem;
  right: 1rem;
  color: #f1f1f1;
  font-size: 2.5rem;
  font-weight: bold;
  transition: 0.3s;
}

.close2:hover,
.close2:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.informative{
  padding-top: 0.5rem;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content2 {
    width: 100%;
  }
}

/*---------------Deliverables----------*/

.jumb2{
    margin-bottom: 0;
    padding: 15rem 6rem 25rem;
    border-radius: 0;
}

.feature i.fas.fa-file-download.fa-3x{
  color: rgb(0,78,146);
}
.feature i.fas.fa-file-download.fa-3x:hover{
  color: rgb(0, 144, 228);
}
.download{
  padding-top: .5rem;
}


/*------Candidatura-----*/

.terceirobackground {
  position: relative;
  width: 100%;
}

.fixed-wrap2 {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999!important;
}

.fixed2 {
  background-image: url(img/backgroundCandidatura.png);
  z-index: -1;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}

.feature i.fas.fa-building.fa-3x{
  color: rgb(0,78,146);
  padding-bottom: .5rem;
}

.candidaturaesp{
    text-align: justify;
}

@media only screen and (max-width: 600px){
  .candidaturaesp {
    text-align: center;
  }
}

.sorte{
  text-transform: uppercase;
  font-weight: 700;
}

/*-----Formulário de cancidatura*/

form{
  padding-top: 5rem;
}

.form-control{
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(0,78,146);
  color: white;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

input{
  height: 2.8rem;
}

form .submit{
  background: rgb(0,78,146);
  border-color: transparent;
  font-size: 1.25rem;
  font-weight: 700;
  height: 3.125rem;
  letter-spacing: 0.1rem;
}

form .submit:hover{
  background-color:rgb(0, 144, 228);
  cursor: pointer;
}


/*----------Contactos--------------*/

.infos{
  padding-bottom: 2rem;
}

@media only screen and (max-width: 800px){
  .infos{
    font-size: .8rem;
  }
}

.contactos{
  padding-top: 10rem;
}

@media only screen and (max-width: 800px){
  .contactos{
    padding-top: 5rem;
  }
}

.feature i.fas.fa-phone.fa-1x{
  color: rgb(0,78,146);
  padding-bottom: .5rem;
  padding-right: 1rem;
}
.feature i.fas.fa-at.fa-1x{
  color: rgb(0,78,146);
  padding-bottom: .5rem;
  padding-right: 1rem;
}
.feature i.fas.fa-map-marked-alt.fa-1x{
  color: rgb(0,78,146);
  padding-bottom: .5rem;
  padding-right: 1rem;
}

.mapa{
  padding-top: 5rem;
}

@media only screen and (max-width: 700px){
  .mapa {
    width: 50rem;
    height: 30rem;
  }
}

/*--------------Correção de fontes dos headings, em small screens fica desalinhado devido ao tamanho-----------*/

@media only screen and (max-width: 700px){
  .heading.x{
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 700px){
  .heading.y{
    font-size: 1.2rem;
  }
}

/*------------Footer------------*/

.page-footer{
  background-color: rgba(216, 197, 0, 0.8);
}

.footer-copyright{
    color: white;
}

.footref{
  color: rgb(0,78,146);
}