@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    color: black;
}

.offset:before{
    display: block;
    content: "";
    height: 4rem;
    margin-top: -4rem;
}

/*------------ Navegação ----------*/

.navbar{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .1rem;
    background: rgba(216, 197, 0, 0.8)!important;
}

.navbar-brand img{
    height: 4rem;
}

.navbar-nav li{
    padding-right: .9rem;

}

.navbar-dark .navbar-nav .nav-link{
    color:white;
    padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(0, 180, 90);
}

.custom-toggler.navbar-toggler {
    border-color: rgb(0, 180, 90);
    border-width: .2rem;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 180, 90, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*----- Página Inicial -----*/

.landing {
    position: relative;
    width: 100%;
    height: 100vh;
    display: table;
    z-index: -1;
  }

  .home-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .home-inner {
    position: fixed;
    display: table;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change: transform;
    background-image: url(img/background.png);
}

.caption{
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 20%;
    z-index: 1;
    color: white;
    text-transform: uppercase;
}

.caption h1{
    font-size: 3.8rem;
    font-weight: 700;
    text-shadow: .1rem .1rem .8rem black;
}

.caption h3{
    font-size: 2rem;
    font-weight: 700;
    text-shadow: .1rem .1rem .8rem black;
}

.btn-lg {
    border-width: medium;
    padding: .6rem 1.3rem;
    font-size: 1.1rem;
}


/*------ Sobre nós ------*/


.jumbotron{
    margin-bottom: 0;
    padding: 25rem 6rem 25rem;
    border-radius: 0;
}

h2.heading{
    font-size: 1.9rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.9rem;
}

.heading-underline{
    width: 4rem;
    height: .2rem;
    background-color: rgb(0, 180, 90);
    margin: 0 auto 2rem;
}

.feature i.fas.fa-users.fa-3x{
    color: rgb(0, 180, 90);
}

.feature i.fas.fa-object-group.fa-3x{
    color: rgb(0, 180, 90);
}

.feature i.fas.fa-repeat.fa-3x{
    color:rgb(0, 180, 90);
}

.feature i.fas.fa-handshake-o.fa-3x{
    color: rgb(0, 180, 90);
}

.feature h3{
    font-size: 1.3rem;
    text-transform: uppercase;
    padding-bottom: .4rem;;
}

.feature p{
    font-size: 1.1rem;
}


/*----------- EQUIPA ------*/

.segundobackground {
    position: relative;
    width: 100%;
  }

  .fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999!important;
  }

  .fixed {
    background-image: url(img/segundaimagemestatica.png);
    z-index: -1;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change: transform;
  }

.dark{
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    margin-bottom: 0;
    padding: 25rem 6rem 25rem;
    border-radius: 0;
}

/*------Flip cars------*/
  .card{
    cursor: pointer;
    width: 21.25rem;
    height: 30rem;
    background-color: rgba(0,0,0, 0);
  }
  .front,.back1,.back2{
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .2s linear;
  }
  .front img{
    height: 100%;
  }
  .front{
    transform: perspective(37.5rem) rotateY(0deg);
  }
  .back1{
    background-image: url(img/flipcards/bitmojipeter.png);
    background-size: 21.25rem 30rem;
    transform: perspective(37.5rem) rotateY(180deg);
  }
  .back2{
    background-image: url(img/flipcards/bitmojinelson.png);
    background-size: 21.25rem 30rem;
    transform: perspective(37.5rem) rotateY(180deg);
  }
  .back-content{
    color:white;
    text-align: center;
    padding-top: 20rem; 
    width: 100%;
  }
  .sm{
    margin: 1rem 0;
  }
  .sm a{
    display: inline-flex;
    width: 2.5rem;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.125rem;
    transition: 0.4s;
    border-radius: 50%
  }
  .sm a:hover{
    background:#d8c500;
    color: white;
  }
  .card:hover > .front{
    transform: perspective(37.5rem) rotateY(-180deg);
  }
  .card:hover > .back1{
    transform: perspective(37.5rem) rotateY(0deg);
  }
  .card:hover > .back2{
    transform: perspective(37.5rem) rotateY(0deg);
  }
  